<?php namespace Dotink\Lab {

	return [

		//
		// This defines a relative or absolute path to our tests directory containing our
		// test files
		//

		'tests_directory' => 'test/routines',

		//
		// By default we disable autoloading.  The prevents us from loading and depending on any
		// classes by accident forcing us to purposefully include them or mock them
		//

		'disable_autoloading' => TRUE,

		//
		// The global 'setup' key can contain a closure to run fixture logic at the beginning of
		// every
		//

		'setup' => function($data) {

		},

		//
		// The global 'cleanup' key can contain a closure to run fixture cleanup logic at the end
		// of every test file
		//

		'cleanup' => function($config) {

		},

		//
		// Arbitrary values can be specified, all 'setup' and 'cleanup' functions (global) and per
		// test file are given the $data array as a first parameter.
		//

		'data' => [
			'root' => realpath(__DIR__)
		]
	];
}
